src/main/resources/wsdl/sales_orders.wsdl

<definitions
		targetNamespace="urn:microsoft-dynamics-schemas/page/sales_orders"
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:tns="urn:microsoft-dynamics-schemas/page/sales_orders">
		<types>
			<xsd:schema elementFormDefault="qualified"
				targetNamespace="urn:microsoft-dynamics-schemas/page/sales_orders"
				xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:simpleType name="Type">
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="_blank_" />
						<xsd:enumeration value="G_L_Account" />
						<xsd:enumeration value="Item" />
						<xsd:enumeration value="Resource" />
						<xsd:enumeration value="Fixed_Asset" />
						<xsd:enumeration value="Charge_Item" />
					</xsd:restriction>
				</xsd:simpleType>
				<xsd:complexType name="sales_orders">
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Key" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Type" type="tns:Type" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="No" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Description" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Shipment_Date" type="xsd:date" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Sell_to_Customer_No" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Document_No" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Currency_Code" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Quantity" type="xsd:decimal" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Outstanding_Quantity" type="xsd:decimal" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Unit_of_Measure_Code" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Work_Type_Code" type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Amount" type="xsd:decimal" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Unit_Price" type="xsd:decimal" />
						<xsd:element minOccurs="0" maxOccurs="1"
							name="Line_Discount_Percent" type="xsd:decimal" />
					</xsd:sequence>
				</xsd:complexType>
				<xsd:complexType name="sales_orders_List">
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="unbounded"
							name="sales_orders" type="tns:sales_orders" />
					</xsd:sequence>
				</xsd:complexType>
				<xsd:simpleType name="sales_orders_Fields">
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Type" />
						<xsd:enumeration value="No" />
						<xsd:enumeration value="Description" />
						<xsd:enumeration value="Shipment_Date" />
						<xsd:enumeration value="Sell_to_Customer_No" />
						<xsd:enumeration value="Document_No" />
						<xsd:enumeration value="Currency_Code" />
						<xsd:enumeration value="Quantity" />
						<xsd:enumeration value="Outstanding_Quantity" />
						<xsd:enumeration value="Unit_of_Measure_Code" />
						<xsd:enumeration value="Work_Type_Code" />
						<xsd:enumeration value="Amount" />
						<xsd:enumeration value="Unit_Price" />
						<xsd:enumeration value="Line_Discount_Percent" />
					</xsd:restriction>
				</xsd:simpleType>
				<xsd:complexType name="sales_orders_Filter">
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Field" type="tns:sales_orders_Fields" />
						<xsd:element minOccurs="1" maxOccurs="1"
							name="Criteria" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
				<xsd:element name="Read">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="Document_No" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Read_Result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1"
								name="sales_orders" type="tns:sales_orders" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReadByRecId">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="recId" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReadByRecId_Result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1"
								name="sales_orders" type="tns:sales_orders" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReadMultiple">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1"
								maxOccurs="unbounded" name="filter"
								type="tns:sales_orders_Filter" />
							<xsd:element minOccurs="0" maxOccurs="1"
								name="bookmarkKey" type="xsd:string" />
							<xsd:element minOccurs="1" maxOccurs="1"
								name="setSize" type="xsd:int" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="ReadMultiple_Result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="0" maxOccurs="1"
								name="ReadMultiple_Result" type="tns:sales_orders_List" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IsUpdated">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="Key" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="IsUpdated_Result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="IsUpdated_Result" type="xsd:boolean" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GetRecIdFromKey">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="Key" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="GetRecIdFromKey_Result">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" maxOccurs="1"
								name="GetRecIdFromKey_Result" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:schema>
		</types>
		<message name="Read">
			<part name="parameters" element="tns:Read" />
		</message>
		<message name="Read_Result">
			<part name="parameters" element="tns:Read_Result" />
		</message>
		<message name="ReadByRecId">
			<part name="parameters" element="tns:ReadByRecId" />
		</message>
		<message name="ReadByRecId_Result">
			<part name="parameters" element="tns:ReadByRecId_Result" />
		</message>
		<message name="ReadMultiple">
			<part name="parameters" element="tns:ReadMultiple" />
		</message>
		<message name="ReadMultiple_Result">
			<part name="parameters" element="tns:ReadMultiple_Result" />
		</message>
		<message name="IsUpdated">
			<part name="parameters" element="tns:IsUpdated" />
		</message>
		<message name="IsUpdated_Result">
			<part name="parameters" element="tns:IsUpdated_Result" />
		</message>
		<message name="GetRecIdFromKey">
			<part name="parameters" element="tns:GetRecIdFromKey" />
		</message>
		<message name="GetRecIdFromKey_Result">
			<part name="parameters"
				element="tns:GetRecIdFromKey_Result" />
		</message>
		<portType name="sales_orders_Port">
			<operation name="Read">
				<input name="Read" message="tns:Read" />
				<output name="Read_Result" message="tns:Read_Result" />
			</operation>
			<operation name="ReadByRecId">
				<input name="ReadByRecId" message="tns:ReadByRecId" />
				<output name="ReadByRecId_Result"
					message="tns:ReadByRecId_Result" />
			</operation>
			<operation name="ReadMultiple">
				<input name="ReadMultiple" message="tns:ReadMultiple" />
				<output name="ReadMultiple_Result"
					message="tns:ReadMultiple_Result" />
			</operation>
			<operation name="IsUpdated">
				<input name="IsUpdated" message="tns:IsUpdated" />
				<output name="IsUpdated_Result"
					message="tns:IsUpdated_Result" />
			</operation>
			<operation name="GetRecIdFromKey">
				<input name="GetRecIdFromKey"
					message="tns:GetRecIdFromKey" />
				<output name="GetRecIdFromKey_Result"
					message="tns:GetRecIdFromKey_Result" />
			</operation>
		</portType>
		<binding name="sales_orders_Binding"
			type="tns:sales_orders_Port">
			<binding transport="http://schemas.xmlsoap.org/soap/http"
				xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			<operation name="Read">
				<operation
					soapAction="urn:microsoft-dynamics-schemas/page/sales_orders:Read"
					style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				<input name="Read">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</input>
				<output name="Read_Result">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</output>
			</operation>
			<operation name="ReadByRecId">
				<operation
					soapAction="urn:microsoft-dynamics-schemas/page/sales_orders:ReadByRecId"
					style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				<input name="ReadByRecId">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</input>
				<output name="ReadByRecId_Result">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</output>
			</operation>
			<operation name="ReadMultiple">
				<operation
					soapAction="urn:microsoft-dynamics-schemas/page/sales_orders:ReadMultiple"
					style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				<input name="ReadMultiple">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</input>
				<output name="ReadMultiple_Result">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</output>
			</operation>
			<operation name="IsUpdated">
				<operation
					soapAction="urn:microsoft-dynamics-schemas/page/sales_orders:IsUpdated"
					style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				<input name="IsUpdated">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</input>
				<output name="IsUpdated_Result">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</output>
			</operation>
			<operation name="GetRecIdFromKey">
				<operation
					soapAction="urn:microsoft-dynamics-schemas/page/sales_orders:GetRecIdFromKey"
					style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				<input name="GetRecIdFromKey">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</input>
				<output name="GetRecIdFromKey_Result">
					<body use="literal"
						xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
				</output>
			</operation>
		</binding>
		<service name="sales_orders_Service">
			<port name="sales_orders_Port"
				binding="tns:sales_orders_Binding">
				<address
					location="http://win-loalmmb2je9:7047/DynamicsNAV80/WS/CRONUS%20International%20Ltd./Page/sales_orders"
					xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
			</port>
		</service>
	</definitions>